*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding-top: 10em;
}

main{
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

select{
    background-color: rgba(128, 128, 128, 0.377);
    border-radius: 5px;
    font-size: 20px;
}

.btn{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

p{
    text-align: center;
    padding-top: 2em;
    font-size: 20px;
}

button{
    font-size: 16px;
}